@model ProductCategoryDto
<h1>RemoveCategoryProduct</h1>
<div>
    @using (Html.BeginForm())
    {
        <div class="panel-body">
            @Html.EditorForModel()
        </div>
        <div class="panel-footer">
            <input type="submit" value="Удалить Категорию" />
            @Html.ActionLink("Отмена", "Index", "Admin", new { @class = "btn btn-dark" })
        </div>
    }

</div>
